body{
	background: url(../img/abc.jpg);
	background-attachment: fixed;
	margin-left:135px;
	margin-right: 135px;

}
header{
	border-radius: 50px;
	background: none;
	height: 40px;
	font-size: 36px;
	text-align: center;
	width: 100%;
}
section{
	background-color:lightgoldenrodyellow;
}

nav{
	
	font-size: 50px;
	text-align: ;
}
nav.menu{
	border:100px;
	padding: 0px;
	size: 100%;
	width: 100%;
	display: grid;
	grid-template-columns: repeat(5, 1fr); 

}
nav.menu a{
	margin-top: 7px;
	text-align: center;	
	color: white;
	font-size:  20px;	
	background: #C71585;
	border-radius: 30px;
	size: 100px;
	border-bottom: 10px solid lavender;
	text-decoration: none;

}
nav.menu a.active{
	background: yellow;
	color: black;}

nav.menu a:hover {
	color: white;
	border-bottom: 10px solid #5757a0;
	border-radius: 30px;
}
aside,section {
	display: inline-block;
	vertical-align: top;
	margin-top:  10px;
}
aside {
	width: 20%;
}
aside nav.vertical a{
	font-size: 15px;
	border-radius: 30px 0 30px 0;
	text-align: center;
	display: block;
	text-decoration: none;	
	width: 90%;
	border-style: groove ;
	padding: 7px;
	margin-bottom: 7px;
	background-color: lavender;
	color:#000080;
	border-color: white;

}
aside nav.vertical a:hover {
	border-style: none;
	padding: 7px;
	border: solid;
	border-color: blue;

}
section{
	width: 75%;
	border-style: outset;
	border-radius: 10px;
	padding: 12px;
	border-color:#DAA520 ;
}
.shadow{
	box-shadow: 0 0 20px black;
}

section h1{
	text-align: center;
	}
section div {
	text-align: left;
}

section#news article
{
	background: #008080;
	display: grid;
	grid-template-columns: 1fr 4fr;
	padding: 10px;
	border-radius: 5px;
	margin: 10px;
}	
section#news article h2{
	text-align: center;
} 
section#news article p{
	text-align: justify;
}
section#news article div{
	text-align: right;
}
section#news img{
	margin-right: 10px;
	width: 300px;
	height: 350px;
}
#more-news img{
	margin-right: 10px;
	width: 300px;
	height: 350px;}
	#more-news ul{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	list-style: none;
}
#rasp img{
	margin-right: 10px;
	width: 300px;
	height: 350px;}
	#rasp ul{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	list-style: none;
}
#galery img
{	width: 150px;
	height: 200px;
}
#galery ul{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	list-style: none;
}
#video ul{
	display: grid;
	list-style: none;
}
