body{
    background: White;
    font-size: .80em;
    font-family: "Times New Roman";
    margin: 0px;
    padding: 0px;
    color: black;
}
    
td [class td] {
    height:80px;width:25px;
              display: table-cell;
               }
 td [class th] {
             height:50px;width:10px;
    }
th {height:30px;width:25px;}

table {
    border-collapse: collapse;
    width: 200%
    color:black;
}
nav {
    height: 800px;
    background: linear-gradient(to bottom, #009933 -1%, #ccffcc 34%);}

div { margin-left: 100px;
    display: block;
    
}

